:root {
  --color-notification: #EB2138;
  --color-disabled: #B9B9B9;
  --color-nightshade: #333333;
  --color-london-gray: #5F7280;
  --color-pure-white: #FFFFFF;
  --color-smoke: #ECEDEF;
  --color-mountain-purple: #6876EB;
  --color-mountain-purple-hover: #505FD7;
}
